    :root {
    --fg-color: #ffffff;
    --bg-color: rgba(0, 0, 0, 0.966);
}

    body{
    padding: 1em;
    max-width: 2000px;
    margin: auto;
    font-family: 'Lora', serif;
    line-height: 1.4em;
    color: var(--fg-color);
    background-color: var(--bg-color);
    }

/** these are my elements yo **/

    p
    {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        object-fit: contain;
    }

    .formint
    {
        font-family:'Nunito', sans-serif;
        font-size: 60px;
        margin-bottom: 35px;
        color:aqua;
        text-align: center;
        object-fit:contain;
    }

    .gifaqua
    {
        width: 540px;
        height: 220px;
        object-fit:contain;
    }

    .subtext
    {
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        font-weight: 450;
        margin-bottom: 15px;
        display: block;
    }

    .subhead
    {
        font-family:'Nunito', sans-serif;
        font-size: 35px;
        margin-bottom: 35px;
        color:aqua
    }

    .bar
    {
        color:deeppink;
        font-weight: 450;
        transition: color .15s;
        font-size: 18px;
        font-family: 'Nunito', sans-serif;
        text-decoration:none
    }

    .bar:hover
    {
        color:aqua;
        text-decoration: underline;
    }
    
    .searchbar
    {
        font-size: 18px;
        display: block;
        padding-left: 111px;
        width: 180px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pic
    {
        height: 200px;
        margin-right: 10px;
    }